body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;

}
.app.light{
  background:whitesmoke;
  color:#000;
}
.app.dark{
  background:rgb(27, 26, 26);
  color:#fff
}
button{
  margin:5px;
  padding:6px 10px;
  cursor:pointer;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minimax(300px,1fr));
  gap:16px;
  padding:20px;
}
.card{
  padding:15px;
  border-radius:6px;
}
.card.light{
  background: whitesmoke;
  color:black;
}
.card.dark{
  background: #1e1e1e;
  color: white;
}